

.effec-icon {
    .icon,
    .tf-icon {
        i,
        svg {
            transition: all 0.6s ease-in-out;
        }
    }
    &:hover {
        .icon,
        .tf-icon {
            i,
            svg {
                transform: rotateY(360deg);
            }
        }
    }
}

.ani1 {
    -webkit-animation: ani1 10s infinite ease-in-out alternate;
    animation: ani1 10s infinite ease-in-out alternate;
}

.ani2 {
    -webkit-animation: ani2 10s infinite ease-in-out alternate;
    animation: ani2 10s infinite ease-in-out alternate;
}

.ani3 {
    -webkit-animation: ani3 4s infinite ease-in-out alternate;
    animation: ani3 4s infinite ease-in-out alternate;
}

.ani4 {
    -webkit-animation: ani4 7s infinite ease-in-out alternate;
    animation: ani4 7s infinite ease-in-out alternate;
}

.ani5 {
    -webkit-animation: ani5 7s infinite ease-in-out alternate;
    animation: ani5 7s infinite ease-in-out alternate;
}

.ani6 {
    -webkit-animation: ani6 7s infinite ease-in-out alternate;
    animation: ani6 7s infinite ease-in-out alternate;
}

.ani7 {
    -webkit-animation: ani7 7s infinite ease-in-out alternate;
    animation: ani7 7s infinite ease-in-out alternate;
}

.ani8 {
    -webkit-animation: ani8 2000ms infinite ease-in-out alternate;
    animation: ani8 2000ms infinite ease-in-out alternate;
}

@keyframes ani1 {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        -webkit-transform: translate(-73px, 1px) rotate(-36deg);
        transform: translate(-73px, 1px) rotate(-36deg);
    }

    40% {
        -webkit-transform: translate(-141px, -72px) rotate(-72deg);
        transform: translate(-141px, -72px) rotate(-72deg);
    }

    60% {
        -webkit-transform: translate(-83px, -122px) rotate(-108deg);
        transform: translate(-83px, -122px) rotate(-108deg);
    }

    80% {
        -webkit-transform: translate(40px, -72px) rotate(-144deg);
        transform: translate(40px, -72px) rotate(-144deg);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes ani2 {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        -webkit-transform: translate(20px, 1px) rotate(36deg);
        transform: translate(20px, 1px) rotate(36deg);
    }

    40% {
        -webkit-transform: translate(100px, 72px) rotate(72deg);
        transform: translate(100px, 72px) rotate(72deg);
    }

    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
        transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        -webkit-transform: translate(40px, 72px) rotate(144deg);
        transform: translate(40px, 72px) rotate(144deg);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes ani3 {
    0% {
        transform: scale(0.8, 0.8);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0.8, 0.8);
    }
}

@keyframes ani4 {
    0%,
    100% {
        transform: translateX(0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    50% {
        transform: translateX(-20px);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

@keyframes ani5 {
    0%,
    100% {
        transform: translateX(0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    50% {
        transform: translateX(10px);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

@keyframes ani6 {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        -webkit-transform: translate(-13px, 1px) rotate(-6deg);
        transform: translate(-13px, 1px) rotate(-6deg);
    }

    40% {
        -webkit-transform: translate(-41px, -22px) rotate(-22deg);
        transform: translate(-41px, -22px) rotate(-22deg);
    }

    60% {
        -webkit-transform: translate(-33px, -22px) rotate(-50deg);
        transform: translate(-33px, -22px) rotate(-50deg);
    }

    80% {
        -webkit-transform: translate(40px, -72px) rotate(-50deg);
        transform: translate(40px, -72px) rotate(-50deg);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes ani7 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes ani8 {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-7px);
        -moz-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}

@keyframes rotate1 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 var(--Sub-primary-2);
    }

    50% {
        box-shadow: 0 0 0 20px var(--Sub-primary-2);
    }

    100% {
        box-shadow: 0 0 0 0 var(--Sub-primary-2);
    }
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes spin {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 2px 0 var(--Primary);
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 0 2px 0 var(--Primary);
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 0 2px 0 var(--Primary);
    }
}