.blog-article-item {
    padding-bottom: 31px;
    border-bottom: 1px solid var(--Line);
    .image-wrap {
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 28px;
        position: relative;
    }
    .box-tag {
        position: absolute;
        background-color: var(--Primary);
        padding: 4px 12px;
        border-radius: 999px;
        left: 8px;
        top: 8px;
    }
    .time {
        @include d-flex();
        align-items: center;
        gap: 6px;
        margin-bottom: 12px;
        p {
            color: var(--Heading);
        }
    }
    .title {
        margin-bottom: 18px;
        letter-spacing: -0.2px;
    }
    .description {
        margin-bottom: 18px;
    }
    &.style-2 {
        padding-bottom: 0;
        border-bottom: unset;
        .image-wrap {
            border-radius: 16px;
            margin-bottom: 32px;
            img {
                min-height: 163px;
            }
        }
    }
}

.tf-sidebar {
    .sidebar-item {
        margin-bottom: 40px;
        .sidebar-title {
            margin-bottom: 22px;
        }
    }
    .sidebar-categories {
        ul {
            li {
                a {
                    padding: 8px 0 10px;
                }
                &:not(:last-child) {
                    padding-bottom: 6px;
                    border-bottom: 1px solid var(--Line);
                    margin-bottom: 8px;
                }
            }
        }
    }
    .sidebar-featured {
        > ul {
            > li {
                &:not(:last-child) {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid var(--Line);
                }
            }
        }
        &.style-2 {
            padding: 30px;
            border: 1px solid var(--Line);
            border-radius: 16px;
        }
    }
    .sidebar-newslatter {
        .sidebar-title {
            margin-bottom: 19px;
        }
        p {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 21px;
            color: var(--Text);
        }
        fieldset input {
            padding-left: 15px;
        }
        .button-submit {
            right: 18px;
            left: unset;
            i {
                color: var(--Primary);
            }
        }
    }
    .sidebar-tags {
        .sidebar-title {
            margin-bottom: 39px;
        }
        .tags-list {
            @include d-flex();
            gap: 8px;
            flex-wrap: wrap;
        }
        .tags-item {
            display: inline-block;
            padding: 10px 16px;
            color: var(--Text);
            line-height: 19.6px;
            border-radius: 99px;
            border: 1px solid var(--Line);
            &:hover {
                background-color: var(--Primary);
                color: var(--White);
            }
        }
    }
    .sidebar-location {
        .wrap-box-location {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
    .sidebar-ads {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        .image-wrap {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .logo {
            position: absolute;
            top: 30px;
            left: 30px;
            width: 136px;
            height: 42px;
        }
        .box-ads {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 30px;
            .content {
                margin-bottom: 20px;
            }
            .title {
                margin-bottom: 20px;
                a {
                    color: var(--White);
                }
            }
            p {
                color: var(--White);
            }
        }
        &::after {
            position: absolute;
            content: "";
            background: linear-gradient(
                180deg,
                rgba(88, 41, 0, 0) 0%,
                #582900 100%
            );
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .box-contact-agent {
        @include d-flex();
        gap: 16px;
        align-items: center;
        .avatar {
            height: 65px;
            width: 65px;
        }
        .content {
            h6 {
                line-height: 25.2px;
            }
            a {
                color: var(--Text);
                &:hover {
                    color: var(--Primary);
                }
            }
        }
    }
    .wrap-contact-agents {
        .box-contact-agent {
            &:not(:last-child) {
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid var(--Line);
            }
        }
    }
}

.box-listings {
    @include d-flex();
    gap: 16px;
    .image-wrap {
        width: 112px;
        flex: none;
        border-radius: 12px;
        overflow: hidden;
    }
    .title {
        margin-bottom: 10px;
    }
    p {
        @include d-flex();
        align-items: center;
        gap: 4px;
        font-size: 12px;
        line-height: 16.8px;
        color: var(--Note);
        i {
            font-size: 16px;
        }
    }
    &.style-2 {
        gap: 12px;
        .image-wrap {
            height: 80px;
        }
        .title {
            margin-bottom: 6px;
        }
        .meta-list {
            margin-bottom: 10px;
        }
        .price {
            color: var(--Primary);
        }
        .content {
            a {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
            }
        }
    }
}

.wrap-blog-list {
    .blog-article-item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.section-blog-list {
    margin-bottom: 80px;
    .tf-sidebar {
        .sidebar-tags {
            .sidebar-title {
                margin-bottom: 18px;
            }
        }
    }
    .wg-pagination {
        margin-top: 25px;
    }
}

.box-title {
    @include flex(center, space-between);
    margin-bottom: 32px;
    gap: 20px 10px;
    flex-wrap: wrap;
    .group-layout {
        @include d-flex();
        gap: 10px;
    }
    .right {
        @include d-flex();
        gap: 10px;
    }
    .btn-layout {
        border-radius: 10px;
        @include flex(center, center);
        height: 40px;
        width: 40px;
        border: 1px solid var(--Line);
        &:hover,
        &.active {
            background-color: var(--Primary);
            svg path {
                stroke: var(--White);
            }
        }
    }
    .filter-popup {
        @include d-flex();
        align-items: center;
        height: 40px;
        padding: 0 10px;
        gap: 8px;
        font-size: 14px;
        line-height: 21px;
        color: var(--Heading);
        border-radius: 10px;
        border: 1px solid var(--Line);
        @include transition3();
        cursor: pointer;
        &:hover{
            background-color: var(--Primary);
            color: var(--White);
            svg path {
                stroke: var(--White);
            }
        }
    }
    .nice-select {
        width: 179px;
        height: 40px;
        border-radius: 10px;
        padding: 0 18px;
        @include d-flex();
        align-items: center;
        &::after {
            right: 18px;
        }
        > span {
            font-size: 14px;
            line-height: 21px;
            color: var(--Heading);
        }
    }
    &.style-2 {
        .nice-select {
            height: 54px;
            width: 100%;
            padding: 0 16px;
            border-radius: 16px;
        }
    }
}

.section-blog-grid {
    margin-bottom: 80px;
    .grid-layout-3 {
        gap: 56px 40px;
        margin-bottom: 56px;
    }
    .wg-pagination {
        padding-top: 26px;
        border-top: 1px solid var(--Line);
    }
}

.section-blog-details {
    margin-bottom: 75px;
    .heading {
        padding-bottom: 30px;
        border-bottom: 1px solid var(--Line);
        margin-bottom: 30px;
        .title-heading {
            margin-bottom: 16px;
        }
    }
    .meta {
        gap: 16px;
        flex-wrap: wrap;
        .meta-item {
            gap: 6px;
        }
    }
    .image-wrap {
        border-radius: 16px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .quote {
        padding: 27px 25px 26px;
        background-color: var(--Color-6);
        border-left: 4px solid var(--Primary);
        border-radius: 10px;
        margin-bottom: 20px;
        p {
            color: var(--Primary);
        }
        .author {
            font-weight: 600;
            margin-top: 20px;
        }
    }
    .group-image {
        margin-bottom: 20px;
        @include d-flex();
        gap: 20px;
        .image-wrap {
            width: 100%;
        }
    }
    .tag-wrap {
        padding-top: 17px;
        border-top: 1px solid var(--Line);
        margin-bottom: 50px;
        flex-wrap: wrap;
        gap: 10px 20px;
        .tags {
            @include d-flex();
            align-items: center;
            gap: 12px;
            a {
                @include flex(center, center);
                width: 89px;
                height: 36px;
                border-radius: 999px;
                border: 1px solid var(--Line);
                &:hover {
                    color: var(--White);
                    background-color: var(--Primary);
                }
            }
        }
        .wrap-social {
            gap: 9px;
        }
    }
}

.section-related-posts {
    margin-bottom: 80px;
    .heading {
        line-height: 33.6px;
        margin-bottom: 24px;
    }
    .grid-layout-3 {
        gap: 40px;
    }
}
