.tf-btn {
    font-size: 16px;
    line-height: 22.4px;
    height: 50px;
    background-color: var(--White);
    @include flex(center, center);
    @include transition3();
    border-radius: 16px;
    color: var(--White);
    width: max-content;
    gap: 10px;
    white-space: nowrap;
    &.pd-1 {
        padding: 0 23.5px;
    }
    &.pd-2 {
        padding: 0 26.5px;
    }
    &.pd-3 {
        padding: 0 40px;
    }

    &.pd-4 {
        padding: 0 28px;
    }
    &.pd-5 {
        padding: 0 41.5px;
    }
    &.pd-6 {
        padding: 0 28.5px;
    }
    &.pd-7 {
        padding: 0 44.5px;
    }
    &.pd-8 {
        padding: 0 24px;
    }
    &.pd-9 {
        padding: 0 20.5px;
    }

    &.pd-10 {
        padding: 0 20px;
    }
    &.pd-11 {
        padding: 0 26px;
    }
    &.pd-12 {
        padding: 0 52px;
    }
    &.pd-13 {
        padding: 0 31.5px;
    }
    &.pd-14 {
        padding: 0 57px;
    }
    &.pd-15 {
        padding: 0 27px;
    }
   
    &.pd-16 {
        padding: 0 70px;
    }
    &.pd-17 {
        padding: 0 56px;
    }
    &.pd-18 {
        padding: 0 64px;
    }
    &.pd-19 {
        padding: 0 48px;
    }
    &.pd-20 {
        padding: 0 33.5px;
    }
    &.pd-21 {
        padding: 0 32.5px;
    }
    &.pd-22 {
        padding: 0 19.5px;
    }
    &.pd-23 {
        padding: 0 23px;
    }
    &.pd-24 {
        padding: 0 18.5px;
    }
    &.pd-25 {
        padding: 0 29.5px;
    }
    &.bg-color-primary {
        background-color: var(--Primary);
    }
    &.bg-color-white {
        background-color: var(--White);
        color: var(--Primary);
    }
    &.style-border {
        border: 1px solid var(--Primary);
        color: var(--Primary);
        background-color: transparent;
        &:hover {
            background-color: var(--Primary);
            color: var(--White);
            svg path {
                stroke: var(--White);
            }
        }
        &.color-white {
            color: var(--White);
            border-color: var(--White);
            &:hover {
                border-color: var(--Primary);

                background-color: var(--Primary);
                color: var(--White);
                svg path {
                    stroke: var(--White);
                }
            }
        }
    }
    &.style-2 {
        background-color: var(--White);
        color: var(--Primary);
    }
    &:hover {
        background-color: var(--Secondary);
        color: var(--White);
        svg path {
            stroke: var(--Primary);
        }
    }
}

.tf-btn-link {
    @include d-flex();
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--Primary);
    gap: 8px;
    width: max-content;
    span {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 0;
            left: 0;
            bottom: -1px;
            background: var(--Primary);
            height: 2px;
            @include transition3();
        }
    }
    svg path {
        stroke: var(--Primary);
    }
    svg {
        transition-delay: 0.2s;
    }
    &:hover {
        span {
            &::after {
                width: 100%;
            }
        }

        svg {
            transform: translateX(4px);
        }
    }
    &.style-hover-rotate {
        &:hover {
            svg {
                transform: rotate(-90deg);
            }
        }
    }
}
