.style-pagination {
    position: relative;
    .swiper-pagination {
        position: unset;
        @include d-flex();
        gap: 20px;
        &.pagination-layout {
            display: none;
        }
        &.pagination-testimonial-1 {
            display: none;
        }
    }
    .swiper-pagination-bullet {
        position: relative;
        background: rgba(228, 228, 228, 1);
        opacity: 1;
        @include transition3();
        &::after {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            border-radius: 999px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.swiper-pagination-bullet-active {
            background-color: var(--Primary);
            &::after {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                border-radius: 999px;
                border: 1px solid var(--Primary);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.sw-wrap-btn {
    @include flex(center, center);
    gap: 24px;
    .sw-pagination {
        width: max-content;
    }
}

.sw-button {
    position: unset;
    border-radius: 999px;
    color: var(--White);
    background-color: var(--White);
    @include transition3();
    height: 58px;
    width: 58px;
    border: 1px solid var(--Line);
    margin-top: unset;
    top: 50%;
    &:hover {
        background-color: var(--Primary);
        svg path {
            stroke: var(--White);
        }
    }
    &.style-2 {
        position: absolute;
        @include flex(center, center);
        height: 67px;
        width: 67px;
        border: none;
        background: rgba(0, 0, 0, 0.5);
        font-size: 24px;
        transform: translateY(-50%);
        &.swiper-button-prev{
            left: 16px;
        }
        &.swiper-button-next {
            right: 16px;
        }
    }
}

.swiper-button-prev {
    &::after {
        display: none;
    }
}

.swiper-button-next {
    &::after {
        display: none;
    }
}

.thumbs-sw-pagi{
    .swiper-slide{
        width: auto;
    }
    .img-thumb-pagi{
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
    }
    &.style-2{
        max-width: 963px;
        margin: -64px auto 0;
    }
} 

.sw-thumbs-sigle ,.sw-single{
    .image-wrap{
        img{
            width: 100%;
        }
    }
}
